.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

.heading1 {
  text-align: center;
  margin-top: 10px;
  margin-left: 20px; 
  padding-top: 10px;
  font-family: Zapf Chancery, cursive;
  color: rgb(0, 0, 0);
  background-color: rgb(159, 196, 231);
  background-image: linear-gradient(to right bottom,  rgba(95, 116, 128, 0.8), rgba(196, 220, 243, 0.8));
}

.heading2 {
  text-align: center;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

.article {
  text-align: left;
  margin-left: 100px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}
